<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pet Clinic</title>
</head>
<h1>
  Owners
</h1>
<body>
<p th:text="'list of owners'">some text</p>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <tr th:each="owner : ${owners}">
    <td th:text="${owner.id}">id</td>
    <td th:text="${owner.firstName}">first name</td>
    <td th:text="${owner.lastName}">last name</td>
  </tr>
</table>
</body>
</html>